@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Rubrik";
  src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

:root {
  --background: #f1faee;
  --foreground: oklch(0.928 0.006 264.531);
  --head-color: #1d3557;
  --about: #457b9d;
  --project:
}

/*
tweak dark mode palet later, currently using light mode for everything

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubrik";
}
