@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Rubrik";
  src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

:root {
  --background: #f0f0f0;
  --foreground: black;
  --header: #1d3557;
  --banner: oklch(0.279 0.041 260.031);
  --card: #cbcbcb;
}

/*
tweak dark mode palet later, currently using light mode for everything

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubrik";
}
